@font-face {
    font-family: "MaisonNeue";
    src: url("fonts/MaisonNeue.ttf") format("truetype");
}

@font-face {
    font-family: "MaisonNeueBold";
    src: url("fonts/MaisonNeueBold.ttf") format("truetype");
}

@font-face {
    font-family: "MaisonNeueItalic";
    src: url("fonts/MaisonNeueItalic.ttf") format("truetype");
}

@font-face {
    font-family: "MaisonNeueBoldItalic";
    src: url("fonts/MaisonNeueBoldItalic.ttf") format("truetype");
}


@font-face {
    font-family: "SegoeUI";
    src: url("fonts/SegoeUI.ttf") format("truetype");
}

@font-face {
    font-family: "SegoeUIBold";
    src: url("fonts/SegoeUIBold.ttf") format("truetype");
}

@font-face {
    font-family: "SegoeUIItalic";
    src: url("fonts/SegoeUIItalic.ttf") format("truetype");
}

@font-face {
    font-family: "SegoeUIBoldItalic";
    src: url("fonts/SegoeUIBoldItalic.ttf") format("truetype");
}