.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-color: #fc5200;
    border-color: #fc5200;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: normal;
    padding: 10px 30px;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
    transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    will-change: background-color, color, border-color;
    font-weight: normal;
    font-family: MaisonNeue, SegoeUIBold, -apple-system, system-ui, Arial, sans-serif, Symbol;
    margin: 2em;
}

.button:hover {
    background-color: #e34a00;
    border-color: #e34a00;
}


#activities_types {
    padding: 0;
    list-style: none;
    display: flex;
}

#activities_types:first-child {
    margin-left: 0;
}

.activity-type {
    margin: 0px;
    margin-left: -1px;
    border: 1px solid #dfdfe8;
    display: inline-block;
    padding: 8px 15px;
    color: #242428;
    background-color: #fff;
    transition: color 0.1s ease, border 0.1s ease, box-shadow 0.1s ease, background-color 0.1s ease, opacity 0.1s ease, -webkit-box-shadow 0.1s ease;
    cursor: pointer;
    list-style: none;
    font-size: 14px;
    line-height: 1.45;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.activity-type:hover {
    color: #000;
    background-color: #f7f7fa;
    text-decoration: none;
}

.activity-type[selected="true"] {
    color: #fff;
    background-color: #fc5200;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


.line {
    display: flex;
}

#year_input {
    height: 42px;
    width: 84px;
    outline: 0;
    padding-left: 10px;
    padding-right: 10px;
    transition: border-color 0.1s ease;
    font-size: 14px;
    height: 34px;
    background-color: #fff;
    border: 1px solid #dfdfe8;
    color: #666;
    line-height: 1.4em;
    margin: 1em;
}

#year_input:focus {
    border: 1px solid #007FB6;
}