body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: MaisonNeueThin, SegoeUI, -apple-system, system-ui, Arial, sans-serif, Symbol;
    font-size: 14px;
}
::selection {
    background-color: #fc5200;
    color: #fff;
    text-shadow: none;
}
#details {
    width: 15em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 1em;
}
a{
    font-weight: lighter;
    color: #494950;
    transition: color 0.05s ease;
    text-decoration: none;
}
a:hover{
    color: #fc5200;
}